<!DOCTYPE html>
<html>
<head>

<title>Emergency Management System</title>

<style>

body{
font-family: Arial;
background:#f4f4f4;
text-align:center;
}

.nav{
background:#222;
padding:15px;
}

.nav a{
color:white;
margin:10px;
text-decoration:none;
}

.container{
background:white;
width:350px;
margin:auto;
padding:30px;
margin-top:50px;
border-radius:10px;
}

input{
width:90%;
padding:10px;
margin:10px;
}

button{
padding:10px 20px;
background:red;
color:white;
border:none;
cursor:pointer;
}

</style>

</head>

<body>

<div class="nav">

<a href="/signup">Sign Up</a>
<a href="/login">Login</a>

</div>

{% block content %}

{% endblock %}

</body>
</html>